<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Manulife</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form action="/login" method="post" class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" placeholder="Username" class="form-control" name="username">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Manulife </h1>
    <p>Top 5 Website visits.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    
  </div>

  <hr>

  <footer>
    <p>&copy; 2017 Alan Lam</p>
  </footer>
</div> <!-- /container -->