<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Manulife Welcome</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form action="/logout" method="get" class="navbar-form navbar-right">
        <button type="submit" class="btn btn-success">Signout</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Manulife </h1>
    <p>Top 5 Website visits.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <span> Select a date : <input class="datepicker" ></span>
  </div>
  <div class="row">
    <div class="table-responsive">
        <table class="table table-striped">
        <thead>
        <tr>
            <th>Website</th>
            <th>Visits</th>
        </tr>
        </thead>
        <tbody>
            <% websites.forEach(function(website) { %>
                <tr><td><%= website.name %></td><td><%= website.visits %></td></tr>
            <% }); %>
        </tbody>
        </table>
    </div>
  </div>
  <hr>
  <footer>
    <p>&copy; 2017 Alan Lam</p>
  </footer>
</div> <!-- /container -->

<script>
        var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
      jQuery(function() {
          $( ".datepicker" ).datepicker(
              { 
                dateFormat: "yy-mm-dd",
                defaultDate: getUrlParameter('date') ?''+getUrlParameter('date')+'': '2016-01-06',
                onSelect: function() {
                    $(this).change();
                  }  
              }
          ).datepicker("setDate", getUrlParameter('date') ?''+getUrlParameter('date')+'': '2016-01-06')
          .change(function() {
              window.location.href = "/welcome?date=" + this.value;
          });
      });

  </script>